<section class="content bg-white mg-top-30">

    <div class="row justify-content-center">

        <div v-if="prod_loaded" class="col-xs-12 col-md-12 col-sm-12 max-width-1300">

            <div class="box border-top-0 border-bottom-0 border-radius-0" id="print-section">

                <div class="box-header box-header-custom bg-white">

                    <div class="pull pull-right width-100-pc">

                        <div class="filters width-100-pc">

                            <div class="filter-block form-inline width-25-pc mg-right-30">
                                <div class="filter-group input-group">
                                    <span class="filter active">Date Range: </span>
                                    <input type="date" class="report-filters-inputs height-32">
                                    <input type="date" class="report-filters-inputs height-32">
                                </div>
                            </div>

                            <div class="filter-block form-inline width-25-pc mg-right-30">
                                <div class="filter-group input-group">
                                    <span class="filter active">Total In Qty: </span>
                                    <span class="filter">450</span>
                                </div>
                            </div>

                            <div class="filter-block form-inline width-25-pc">
                                <div class="filter-group input-group">
                                    <span class="filter active">Total Out Qty: </span>
                                    <span class="filter">450</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-body bg-white padding-right-20 padding-left-20">
                    <table class="table ledgers-table table-hover">
                        <thead>
                            <tr>
                                <th style="width:45%;">
                                    <table>
                                        <tr>
                                            <th style="width:20%">In/Date</th>
                                            <th style="width:20%">In/Origin</th>
                                            <th style="width:40%">In/Product</th>
                                            <th style="width:20%" class="text-right">In/Qty</th>
                                        </tr>
                                    </table>
                                </th>
                                <th style="width:55%;">
                                    <table>
                                        <tr>
                                            <th class="text-left">Out/Qty</th>
                                            <th>Out/Date</th>
                                            <th>Out/Origin</th>
                                            <th>Out/Location</th>
                                            <th>Out/Product</th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </thead>
                        <tbody v-if="transactions.length > 0">
                            <tr v-for="(stock_trans,index) in transactions" :key="'index'+index">
                                <td style="width:45%">
                                    <table>
                                        <tr :key="'key_'+index1">
                                            <td style="width:20%">{{stock_trans.date_of_trans}}</td>
                                            <td style="width:20%">{{stock_trans.origin}}</td>
                                            <td style="width:40%">{{stock_trans.product_item}}</td>
                                            <td style="width:20%" class="btn-link active text-right">{{stock_trans.amount}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:55%">
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-if="transactions.length < 1">
                            <tr>
                                <td colspan="2" class="cl-red text-center fs-13">No product data to display</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box-header box-header-custom">
                    <div class="width-100-pc">
                        <paginate-template v-if="pagination.last_page > 1" :pagination="pagination" :offset="5" @paginate="loadProductStock()" :custom="true"></paginate-template>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>