
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-camphor: Camphor,Helvetica,Arial,sans-serif!important;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2667c8;
$white: #fff;
$cl-333: #333;
$navy: #3f4079;
$dark-pink: #e74e84;

$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffa000;
$green: #28a745;
$grey: #f0f0f5;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$fs-0: 0;
$fs-1: 1px;
$fs-2: 2px;
$fs-3: 3px;
$fs-4: 4px;
$fs-5: 5px;
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-20: 20px;
$fs-30: 30px;
$fs-35: 35px;
$fs-40: 40px;
$fs-50: 50px;
$fs-60: 60px;
$fs-300: 300px;
$fs-350: 350px;
