
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
//@import 'min_1058';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    //background: #fff;
    //font-size: 14px;
    //font-size: .875rem;
    line-height: 1.4;
    font-family: Poppins,Helvetica,sans-serif;
    color: #555;
}
