/*Widths*/
.min-width-100-pc{min-width: 100%!important;}

/*Heights*/
.min-height-100-vh{min-height: 100vh!important;}
.height-32{height: 32px!important;}
.height-36{height: 36px!important;}

/*Paddings*/
.pd-top-10{padding-top: 10px!important;}
.pd-top-20{padding-top: 20px!important;}
.pd-top-30{padding-top: 30px!important;}
.pd-top-40{padding-top: 40px!important;}
.pd-top-50{padding-top: 50px!important;}
.pd-left-20{padding-left: 20px!important;}

/*Margins*/
.mg-lg-bottom-10{margin-bottom: 10px!important;}

/*Border radius*/
.border-radius-2{border-radius: 2px!important;}
.border-radius-5{border-radius: 5px!important;}
.no-bordered{border: 0!important;}
.no-border-bottom{border-bottom: 0 transparent solid!important;}

.left-text{text-align: left!important;}

/*shadowed*/
.btn-shadowed{box-shadow: inset 0 -1px 0 #DFDFDF;}
.nav-shadowed{z-index: 102!important;box-shadow: 0 2px 4px 0 #26324575!important;}
.no-shadowed{box-shadow: 0 0 0 0 transparent!important;}

/*Background color*/
.bg-blue{background-color: #207fdd!important;}

/*Colors*/
.cl-blue{color: #207fdd!important;}
.cl-white{color: #fff!important;}
.cl-dark-grey{color: #414146!important;}

/*//Text*/
.text-uppercase{text-transform: uppercase!important;}
.text-transformed-none{text-transform: none!important;}

/*FW*/
.fw-400{font-weight: 400!important;}

/*FS*/
.font-size-1-2{font-size: 1.2rem!important;}

.app_icons img{width: 120px!important;height: 45px!important; border-radius: 2px!important;}

.content-inlined a, .content-inlined p{display: inline;float: left; margin-right: 10px!important;}

.inv-group-img img{width: 100px!important;height: 100px!important;}

.inv-group-img h2{font-size: 1.7rem!important;}

.text-underlined{text-decoration: underline!important;}
.cursor-pointer{cursor: pointer!important;}
.inv-group-div{
    border-radius: 5px!important;
    min-height: 150px!important;
    border: 2px dotted #cacad3!important;
    padding-top: 15px!important;
}

@media only screen and (max-width: 600px){
    .label-txt-right{
        text-align: left!important;
    }
}

/*@media only screen and (max-width: 1058px){*/
    /*.label-txt-right{*/
        /*text-align: right!important;*/
    /*}*/
/*}*/

@media only screen and (min-width: 1059px){
    .label-txt-right{
        text-align: right!important;
    }
}
